VPet.Plugin.LuckyGame/Windows/*.xaml linguist-detectable=true
*.lps linguist-language=INI
*.lps linguist-detectable=true
VPet.Plugin.LuckyGame/HelpPage/js/*.js linguist-detectable=true
VPet.Plugin.LuckyGame/HelpPage/js/md/*.md linguist-detectable=true